<!--
=============================================================
; Title:  about.component.html
; Author: Professor Krasso
; Date:   13 August 2021
; Modified By: Soliman Elmalak
; Description: about.component
; =============================================================
-->

<div class="composer-container">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="align-center">Franz Joseph Haydn</h3>
      </div>
    </div>
  
    <hr />
  
    <div class="row about-composer">
      <div class="col-sm-3">
        <img src="./assets/Franz-Joseph-Haydn.jpeg" />
      </div>
      <div class="col-sm-9">
        <p>
            Joseph Haydn, in full Franz Joseph Haydn, (born March 31, 1732, Rohrau, Austria—died May 31, 1809, Vienna), Austrian composer who was one of the most important figures in the development of the Classical style in music during the 18th century </p>
      </div>
    </div>
  </div>