/*
============================================
; Title:  home.component.scss
; Author: Professor Krasso
; Date:   12 September 2021
; Modified By: Soliman Elmalak
; Description: styling for home.component.html
============================================
*/

/* Adding margin-left and width for save button*/
button{
width: 250px;
margin-left: 130px;
}

/* marginRight styling*/
.marginRight{
margin: -70px;
}