<!--
=============================================================
; Title:  contact.component.html
; Author: Professor Krasso
; Date:   02 September 2021
; Modified By: Soliman Elmalak
; Description: contact.component 
=============================================================
-->

<!-- Create the layout for the contact page. -->
<div fxLayout="row wrap">
    <!-- Layout for the Mailing Address Column -->
    <div fxFlex>
        <mat-card-title class="card-title-icon">
            <mat-icon color="primary">navigation</mat-icon>
        </mat-card-title>
        <br />
        <mat-card-content class="align-center">
          <p>
            541 Galvin Rd 
          </p>
          <p>
            Bellevue, NE 68005
          </p>
        </mat-card-content>
    </div>
    <!-- Layout for the Phone Number Column -->
    <div fxFlex>
        <mat-card-title class="card-title-icon">
            <mat-icon color="primary">phone</mat-icon>
        </mat-card-title>
        <br />
  
        <mat-card-content class="align-center">
          <p>
            Direct: 555-555-5555
          </p>
          <p>
            Toll-free: 1-888-555-5555
          </p>
          <p>
            Fax: 555-555-5556
          </p>
        </mat-card-content>
    </div>
    <!-- Layout for the eMail Address Column -->
    <div fxFlex>
        <mat-card-title class="card-title-icon">
          <mat-icon color="primary" inline=true>email</mat-icon>
        </mat-card-title>
        <br />
        <mat-card-content class="align-center">
            <p>
              Author@gmail.com
            </p>
          </mat-card-content>
  
    </div>
  </div>
  <!-- A comment at the bottom of the page -->
  <br /><br /><br /><br />
  <div fxLayout="column">
    <p style="text-align: center">
      Visit us online, or at one of our great locations throughout the country!
    </p>
  
  </div>