<!--
=============================================================
; Title:  composer-list.component.html
; Author: Professor Krasso
; Date:   13 August 2021
; Modified By: Soliman Elmalak
; Description: composer-list.component
; =============================================================
-->

<div class="row">
  <div class="col-sm-12">
    <!-- Add a Bootstrap input field and float it to the right -->
    <div class="txtSearch">
      <input type="text" class="form-control" id="txtSearch" placeholder="Search by name" [formControl]="txtSearchControl"/>
    </div>
    <!-- Create an HTML table of composers -->
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Composer ID</th>
          <th scope="col">Full Name</th>
          <th scope="col">Genre</th>
        </tr>
      </thead>
    
      <!-- Use *ngFor to iterate through all of the objects and put them on the table -->
      <tbody *ngFor="let composer of composers | async"> 
        <tr>
          <td scope="row">
            <a routerLink="/composer-details/ {{ composer.composerId }}">
              {{ composer.composerId }}
            </a>
          </td>
          <td>{{ composer.fullName }}</td>
          <td> {{ composer.genre }}</td>  
        </tr>
      </tbody>
    </table>
  </div>
</div>
